doctype html
html
  head
    meta(charset="utf-8")
    title 文件管理
    link(rel="stylesheet", href="/static/js/layui/css/layui.css")
    link(rel="stylesheet", href="/static/css/common.css")
  body
    table.layui-table(lay-size="sm")
      caption
        .layui-btn-container.text-right
          button#upload.layui-btn.layui-btn-normal.layui-btn-sm(type="button") 上传文件
          a.layui-btn.layui-btn-normal.layui-btn-sm(href="javascript:deleteThis()") 删除全部
      thead
        tr
          th 序号
          th 文件名
          th 文件大小
          th 文件类型
          th 上传时间
          th 操作
      tbody
        each file, index in files
          tr
            td=index+1
            td=file.name
            td=(file.size/1024).toFixed(2)+'\tKB'
            td=file.type
            td=fn.moment(file.datetime)
            td
              a(href="javascript:deleteThis('"+file.id+"')") 删除
        if !files.length
          tr
            td.text-center(colspan="6") 暂无文件
    script(src="/static/js/require.js", data-main="/static/js/main")